*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #202124;
    height: 100vh;
}

header{
    font-size: 13px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
}

.options{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 8px 18px;

}

.options li a{
    text-decoration: none;
    padding: 5px;
    color: #fff
}

.dots-logo{
    display: inline-block;
    background-image: url(/img/dots-logo.svg);
    height: 24px;
    width: 24px;
}
.dots-logo:hover{
    border: solid 1px #5f6368;
    border-radius: 50%;
    padding: 10px;
    background-color: #5f6368;
}

.chocolate{
    border-radius: 10px;
    box-shadow: -1px -1px 5px rgba(0, 0, 0,0.5);
    position: absolute;
    top: 48px;
    right: 10px;
    padding: 12px;
    width: 328px;
    height: 400px;
    background-color: #333438;
    display: none;
}



.chocolate.active{
    display: block;
}

.options a img{
    width: 32px;
    height: 34px;
    border-radius: 50%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74.5vh;
}

.main__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.main__container img{
    height: 92px;
}

.main__container p{
    color: #fff;
    font-size: small;
}

.main__container p a{
    color: #8ab4f8;
    text-decoration: none;
}

.searcher{

    display: flex;
    z-index: 3;
    height: 24px;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    position: relative;
}

.searcher:hover{
    background-color: #5f6368;
}

.searcher input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
}

.searcher input:focus{
    outline: none;
}

.searcher input:hover{
    background-color: #5f6368;
}

.historial {
    position: absolute;
    top: 24px;
    background-color: #2f3135;
    border-radius: 0 0 24px 24px;
    width: 100%;
    left: -1px;
    height: 200px;
    border: 1px solid #5f6368;
    border-top: none;
    z-index: -1;
    display: none;
}

.historial.active{
    display: block;
}

.historial a{
    display: flex;
    padding: 9px;
    text-decoration: none;
    color: #9aa0a6;
}

.historial a:hover{
    background-color: #5f6368;
}



.searcher button{
    border: none;
    background-color: transparent;
}

.searcher__button button:hover{
    border: 0.2px solid #5f6368;
}

.searcher__logo{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(/img/lupe-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.searcher__micro{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(/img/micro-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.searcher__cam{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(/img/cam-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.searcher__button button{
    background-color: #303134;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 0 16px;
    height: 30px;
}


.FooterGoogle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82px;
    background-color: #171717;
    font-size: 14px;
}

.FooterGoogle__country{
    color: #9aa0a6;
    padding: 15px 30px;
    font-size: 15px;
    border-bottom: 1px solid #3c4043;
}

.FooterGoogle__links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
}

.FooterGoogle__links ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.FooterGoogle__links li a{
    text-decoration: none;
    color: #9aa0a6ff;
    padding: 10px;   
}

li a:hover{
    text-decoration: underline;
}

p a:hover{
    text-decoration: underline;
}


