*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Herramientas */


/*             */

body{
    background-color: #202124;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
}

.options{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 8px 18px;

}

.options li a{
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 5px;
    color: #fff
}

.dots-logo{
    display: inline-block;
    background-image: url(/ggiselled.github.io/img/dots-logo.svg);
    height: 24px;
    width: 24px;
}

.options a img{
    width: 32px;
    height: 34px;
    border-radius: 50%;
}
