*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;

    
}
:root {
       --white: #fafafb;
       --purple:#9a67ea;
       --blue-light:#04d4c3;
       --blue-dark:#2a73c2;
       --green: #2c7b90;
}
body {
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    

    
   height: 100vh;
   font-family: 'Prompt', sans-serif;

}

.container {
    width: 100%;
    height: auto;
    margin: 60px auto;
    background-color: rgba(250, 247, 247, 0.1);
    border-radius: 10px;
}

h1{
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--white);
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px 10px;
}

.search{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 5px;
  	height: 40px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

select::-ms-expand {
    display: none;
}

select:hover{
	background: #bae0f5;
}

form i{
    position: relative;
    right: 29px;
    top: 14px;
    width: 15px;
    height: 9px;
    display: block;
    border-left: 4px solid var(--purple);
    border-bottom: 4px solid var(--purple);
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

input{
    display: inline-block;
	width: 90%;
	cursor: pointer;
  	height: 40px;
    margin-top: 20px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    transition: all 0.25s ease;
}

input:hover{
    background: #bae0f5;
}

.task-container{
    width: 100%;
    color: darkslategray;
    margin-top: 20px;
}

ul{
    padding: 0;
    background-color: transparent;
    display: grid;
    place-items: center;
    
}

li{
    list-style: none;
    width: 90%;
    margin-top: 15px;
    display: flex;
}

li p {
    margin: 0;
    padding: 15px;
    width: 100%;
    border-start-start-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--white);
  }

.btn{
    position: relative;
    top: 10px;
    right: 34px;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--purple);
    color: white;
    border: none;
    cursor: pointer;
}

  .taskDelete{
    margin-left: auto;
    border: none;
    background-color: var(--purple);
    color: white;
    font-weight: bold;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  .taskDelete:hover{
    background-color: #bae0f5;
  }

.p-urgente{
    background-color: #fcb7af;
}

.p-postergable{
    background-color: #ffda9e ;
}

.p-opcional{
    background-color: #a3ffac;
}
